<!DOCTYPE html>
<html>
<head>
<title>Homework #1</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="icon" href="{{fav}}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{styleCss}}">
</head>
<body>
<div class="main">
	<div class="flex-sections">
		<div class="flex-main-bio">
			<img class="profile-photo" src="{{myPic}}">
			<div class="flex-main-bio-info">
			  <div><h1>Невесенко Виталий <p> Николаевич</h1></div>
			  <br>
			  <div>Мужчина, 22 года, родился 9 июля 1999</div>
			  <div>
			  	<p>+x (xxx) xxx-xx-xx</p>
			  	<p>top_secret@gmail.com — предпочитаемый способ связи</p>
			  	<p>Другой сайт: https://github.com/OUTS1D3R047</p>
			  </div>
			</div>	
		</div>
		<p class="section-title"> О себе: </p>
		<div class="line"></div>
		<div class="section-describe">
			<p>Разбираюсь в компьютерных сетях, системном администрировании, <br> информационной безопасности, изучал много теории по данным <br> дисциплинам, участвовал в CTF-соревнованиях.</p>
			<p> Изучаю немного Латышский, Французский, хожу в спортзал.</p>
			<p> Хочу чтобы это все скорее закончилось...</p>
		</div>
		<p class="section-title"> Опыт работы — 2 года 4 месяца </p>
		<div class="line"></div>
		<div class="section-experience">
			<p class="section-time"> Август 2021 — 
				<br> настоящее время <br> 8 месяцев 
			</p>
			<div class="section-describe">
				<h4>ООО "Авара Ай Ти Солюшенс"</h4>
				<p>Младший программист</p>
				<p>- Разработка решений на базе Dynamics 365 FO</p>
				<p>- Разработка обменов и интеграционных механизмов как с 	 продуктами Dynamics 365, так и со сторонними системами
				</p>
				<br>
				<p>Также мною были разработаны несколько расширений для Visual Studio на C#, направленных</p>
				<p>на упрощение процесса разработки проектов для Microsoft Dynamics 365 Finance and</p>
				<p>Operations, с которыми можно ознакомиться в моем профиле GitHub.</p>	
			</div>
		</div>
		<div class="section-experience">
			<p class="section-time"> Декабрь 2019 — 
				<br> Октябрь 2020 <br> 11 месяцев 
			</p>
			<div class="section-describe">
				<h4>ООО "Зим-Сервис"</h4>
				<p>Помощник системного администратора</p>
				<p>- Проведение диагностики и ремонта рабочих станций Пользователей: проверка состояния <br> жесткого диска/ОС, установка ОС/замена компонентов рабочей станции/установка и настройка оргтехники;</p>
				<p>- Проведение диагностики состояния сетевого оборудования Mikrotik/Cisco <br> и удаленного решения проблем Пользователя
				</p>
				<p>- Работа оператором технической поддержки 1 линии: <br>прием и обработка звонков, работа с 1С CRM.</p>
				<p> Также в рамках проектной деятельности мною были проведены испытания системы обнаружения вторжений, <br> результатом которого стал отчет, позволивший руководству принять решение о целесообразности ее внедрения в сетевую инфраструктуру компании.</p>	
			</div>
		</div>
		<div class="section-experience">
			<p class="section-time"> Март 2019 — 
				<br> Ноябрь 2019 <br> 9 месяцев 
			</p>
			<div class="section-describe">
				<h4>ООО "Лаборатория ППШ"</h4>
				<p>Технический специалист</p>
				<p>- Проводил проверку корректной работоспособности, а также настройку <br> изготавливаемых технических средств защиты информации</p>
				<p>- Написание технической документации к производимому оборудованию <br> по ГОСТ 2.610</p>
			</div>
		</div>
	</div>
</div>
</body>
</html>